{{#if currentUser}}
<main>

    <div class="content__container">
        <div class="details__container">
            <div class="details_heading_wrapper">
                <h2>Profile</h2>
            </div>
            <div class="details-wrapper">
                <div class="details_wrapper">
                    <p class="detail-info"> <span>First name:</span> {{user.firstName}}</p>
                    <p class="detail-info"> <span>Last name:</span> {{user.lastName}} </p>
                    <p class="detail-info"> <span>Address:</span> {{user.address}}</p>
                    <p class="detail-info"> <span>Suite#:</span> {{user.unitNumber}}</p>
                    <p class="detail-info"> <span>City:</span> {{user.city}}</p>
                    <p class="detail-info"> <span>State:</span> {{user.state}}</p>
                    <p class="detail-info"> <span>Zip:</span> {{user.zip}}</p>
                    <p class="detail-info"> <span>Email:</span> {{user.email}} </p>
                    <p class="detail-info"> <span>Access level:</span> {{user.role}} </p>
                    <p class="detail-info"> <span>Store type:</span> {{user.storeType}} </p>
                </div>
        
            </div>
        </div>
        <div class="detail-btns">
            <button class="update-profile">
                <a href="/auth/update-profile/{{user.id}}">Update your profile</a>
            </button>
            <button class="change-password">
                <a href="/auth/change-password">Change Password</a>
            </button>
        
        </div>
    </div>

</main>
{{/if}}