{{#if currentUser}}

<div class="form__parent__container">

    <div class="form__title">
        <h2>New invoice</h2>
    </div>

    <div class="form__wrapper">
        <form action="/purchases/create" method="POST">

            <div class="inputs__wrapper">

                <div class="label-input-col">
                    <label>Customer:</label>
                    <select name="customer" id="select">
                        <option value="" disabled="disabled" selected="selected">--Select a customer--</option>
                        {{#each customers}}
                            <option value="{{_id}}">{{firstName}} {{lastName}} </option>
                        {{/each}}
                    </select>
                </div>

                <div class="label-input-col">
                    <label>Create an invoice ID:</label>
                    <input type="text" name="invoiceId" placeholder="ex: 001">
                </div>

                <div class="label-input-col">
                    <label>Order date:</label>
                    <input type="date" name="invoiceDate" id="invoice-date">
                </div>

                <div class="label-input-col">
                    <label>Select a book:</label>
                    <select name="books" id="selectBook">
                        <option class="disabled" value="" disabled="disabled" selected="selected">--books list--</option>
                        {{#each books}}
                            <option value="{{_id}}" data-price="{{price}}" class="selectBook">{{title}} ${{price}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="label-input-col">
                    <label>Select a movie:</label>
                    <select name="movies" id="selectMovie">
                        <option value="" disabled="disabled" selected="selected">--Choose a movie--</option>
                        {{#each movies}}
                            <option value="{{_id}}" data-price="{{price}}" class="selectMovie">{{title}} ${{price}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="label-input-col">
                    <label>Select a payment type:</label>

                    <div class="radio__input__group-flex-row radio-media-col">
                        <div class="radio__input__flex-row">
                            <input class="input-radio radio-hov" type="radio" name="paymentMethod" value="Credit or debit card">
                            <label><span class="radio">Credit/debit card</span></label>
                        </div>
                        <div class="radio__input__flex-row">
                            <input class="input-radio radio-hov" type="radio" name="paymentMethod" value="Gift card">
                            <label><span class="radio">Gift card</span></label>
                        </div>
                        <div class="radio__input__flex-row">
                            <input class="input-radio radio-hov" type="radio" name="paymentMethod" value="Cash">
                            <label><span class="radio">Cash</span></label>
                        </div>
                    </div>
                </div>
                
                <div class="">
                    <label>Purchase Total:</label>
                    <input id="totalPrice" class="invoice-total-input" type="text" name="purchaseTotal" value="">
                </div>
            </div>
            
            <button class="submit-btn" type="submit">Save Invoice</button>

        </form>
    </div>
</div>
{{/if}}