{{#if currentUser}}
<main>
    
    <div class="content__container">

        <div class="details__container">

            <div class="details_heading_wrapper">
                <h2>Purchase Details:</h2>
                <p><a class="back-link" href="/purchases">Back to purchases</a></p>
            </div>
            
            <div class="details_wrapper">

                <div class="details_flex_col">
                    <p class="detail-info"> <span>Purchase ID:</span> {{_id}}</p>
                    <p class="detail-info"> <span>Invoice#:</span> {{invoiceId}}</p>
                    <p class="detail-info"> <span>Customer:</span> {{customers.firstName}} {{customers.lastName}}</p>
                    <p class="detail-info"> <span>Purchase Date:</span> {{invoiceDate}}</p>
                    <p class="detail-info"> <span>Books purchased:</span> {{books.title}} - ${{books.price}}</p>
                    <p class="detail-info"> <span>Movies purchased:</span> {{movies.title}} - ${{movies.price}}</p>
                    <p class="detail-info"> <span>Total Purchase:</span> {{purchaseTotal}}</p>
                </div>
            </div>

        </div>
    
        <div class="detail-btns">
            <form action="/purchases/delete/{{_id}}" method="POST">
                <button class="delete-btn">
                    <i class="fa-regular fa-trash-can"></i>
                    Delete?
                </button>
            </form>
            <p class="warning"><i class="fa-solid fa-triangle-exclamation"></i> Deleting this record cannot be undone</p>
        </div>

    </div>

</main>
{{/if}}